@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #a8c8b7;
}

.logo {
  text-decoration: none;
}
.menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 3px;
}

.menu__item:hover .menu__submenu{
  display: block;
}

.menu__item {
  position: relative;
}

.menu__link {
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 20px;
}

.menu__item:hover .menu__link {
  background-color: #fff;
  color: #000;
}

.menu__link-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu__submenu {
  position: absolute;
  display: none;
  top: calc(100% + 3px);
  left: -5px;
}

.menu__submenu::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  height: 3px;
  width: 100%;

}

.submenu {
  font-size: 14px;
  padding: 9px;
  border-radius: 5px;
  background-color: #fff;
  min-width: 144px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.submenu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 3px;
  border-top: 1px solid #d1d0ce;
}

.submenu__title {
  display: block;
  padding: 7px 21px;
  margin: 0 -9px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.submenu__link {
  display: block;
  color: #323232;
  font-weight: 400;
  text-decoration: none;
  padding: 7px 21px;
  margin: 0 -9px;
}

.submenu__link:hover {
  background-color: #fbded7;
}
